# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Database
# -----------------------------
database/*.db
database/*.sqlite
database/*.sqlite3

# -----------------------------
# Crawler Data
# Uncomment if you DON'T want
# crawled pages in GitHub
# -----------------------------
# data/pages/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build / Packaging
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Environment Variables
# -----------------------------
.env